<robot name="DiffDrive" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="robot_params" value = "$(find diff_drive)/config/robot_params.yaml" />
    <xacro:property name="params" value = '${load_yaml (robot_params)}'/>
    <xacro:property name="X" value="${params['base_x']}"/>
    <xacro:property name="Y" value="${params['base_y']}"/>
    <xacro:property name="Z" value="${params['base_z']}"/>
    <xacro:property name="base_m" value="${params['base_mass']}"/>
    <xacro:property name="r" value="${params['wheel_r']}"/>
    <xacro:property name="l" value="${params['wheel_l']}"/>
    <xacro:property name="wheel_m" value="${params['wheel_mass']}"/>

    <gazebo reference="body">
        <material>Gazebo/Yellow</material>
    </gazebo>

    <gazebo reference="right_wheel">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="left_wheel">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="caster">
        <material>Gazebo/Blue</material>
        <mu1>0</mu1>
        <mu2>0</mu2>    
    </gazebo>

    <gazebo>
        <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
        
        <rosDebugLevel>na</rosDebugLevel>
        
        <alwaysOn>true</alwaysOn>
        
        <updateRate>100</updateRate>
        
        <leftJoint>joint2</leftJoint>
        
        <rightJoint>joint1</rightJoint>
        
        <wheelSeparation>${X+2*r}</wheelSeparation>
        
        <wheelDiameter>${r}</wheelDiameter>
        
        <wheelTorque>20</wheelTorque>
        
        <commandTopic>diff/cmd_vel</commandTopic>
        
        <odometryTopic>diff/odom</odometryTopic>
        
        <odometryFrame>odom</odometryFrame>
        
        <robotBaseFrame>base</robotBaseFrame>
        
        <publishWheelTF>false</publishWheelTF>
        
        <publishOdomTF>true</publishOdomTF>
        
        <publishWheelJointState>true</publishWheelJointState>
        
        <wheelAcceleration>false</wheelAcceleration>
        
        <odometrySource>world</odometrySource>
        
        <publishTf>1</publishTf>
        
        </plugin>
    </gazebo>


</robot>
